*
	margin 0
	padding 0
	font-size 14px
	font-family Microsoft Yahei
	box-sizing border-box
a
	text-decoration  none
	color  inherit
ul,ol
	list-style  none
.wrap
	width  980px
	margin  0 auto
body
	background-color rgb(244,244,242)
	z-index -1
.header,.footer
	background  url(../image/tools.png) repeat-x 0 -31px
	.shadow
		height 41px
		background url(../image/shadow.png) repeat-x
		border 0 solid rgb(244, 244, 242)
		border-top-width 1px
.header
	height  184px
	.wrap
		position relative
		height 143px
		>a
			position absolute
			top 0
			left -15px
			float left
			width  466px
			height  134px
			img
				width 466px
				z-index -2
		>ul
			float  right
			li
				width 132px
				height 144px
				float left
				color white
				text-align center
				margin-top -1px
				a
					display block
					width 132px
					height 144px
					&:hover
						background url(../image/tools.png) no-repeat 0 -328px
						z-index 999
					>div
						width 132px
						height 106px
					span
						height 20px
.first
	input
		background none
		border 0
		outline 0
	.wenxin
		width 142px
		height 192px
		position fixed
		left 50%
		top 204px
		margin-left -445px
		text-align center
		border 1px solid rgb(204, 204, 204)
		background-color white
		img
			width 120px
			height 120px
			margin-top 10px
			margin-bottom 10px
		p
			font-size 12px
	.main
		width 520px
		height 520px
		margin 20px auto
		position relative
		overflow hidden
		.input
			position absolute
			height 80px
			width 527px
			background url(../image/box.jpg) no-repeat
			label
				color rgb(153, 153, 153)
				font-size 20px
				position absolute
				left 26px
				top 24px
			.search
				width 360px
				height 33px
				position absolute
				left 26px
				top 24px
				font bold 22px/1.5 Arial
				color white
			.btn
				position absolute
				cursor pointer
				height 44px
				width 48px
				right 20px
				top 16px
		.appleBtn
			width 520px
			height 60px
			display block
			color white
			background-color rgb(0, 131, 192)
			line-height 60px
			text-align center
			border-radius 5px
			margin-top 80px
			margin-left 2px
			i
				display inline-block
				background url(../image/apple-ico.png) no-repeat
				margin-right 12px
				width 22px
				height 60px
				vertical-align top
			span
				font-size 18px
		.tips
			width 520px
			border 1px solid rgb(195, 195, 195)
			border-radius 5px
			padding 10px
			box-shadow 0 1px 0 #fff,inset 0 1px 0 #fff
			text-shadow 0 1px 0 #fff
			margin-top 50px
			line-height 26px
			font-size 14px
			background-color rgb(231, 233, 230)
			color rgb(128, 128, 128)
		.counter
			text-align center
.footer
	background-position 0 -134px
	color rgb(144, 144, 144)
	height 164px
	.shadow
		background-position 0 -40px
		border-bottom-width 1px
	.footer_inner
		padding-top 40px
		text-align center
		p
			font-size 12px
			padding 2px 0
			a
				font-size 12px
.counter
	i
		width 18px
	.n0
		background-position -159px -34px
	.n1
		background-position 0 -34px
	.n2
		background-position -18px -34px
	.n3
		background-position -36px -34px
	.n4
		background-position -54px -34px
	.n5
		background-position -72px -34px
	.n6
		background-position -90px -34px
	.n7
		background-position -108px -34px
	.n8
		background-position -126px -34px
	.n9
		background-position -144px -34px
	.nn
		background-position 100% -34px
		width 10px